[color]
	ui = true

[core]
	editor = nano
	
[merge]
  tool = kdiff3
  
[diff]
#  tool = kcompare
  tool = meld

[user]
	name = Alberto Bortoni
	email = alb.bortoni@gmail.com

[alias]
	st = status
	up = pull --rebase
	upm = pull --rebase origin refs/heads/master
	diffm = difftool -t meld
	diffc = diff --color
	logc = log --color --oneline
	loga = log --oneline --graph --decorate --all --color
