[color]
  ui = true

[core]
  editor = nano
	
[merge]
  tool = kdiff3
  
[diff]
#  tool = kcompare
  tool = meld

[user]
  name = Alberto Bortoni
  email = alb.bortoni@gmail.com

[credential]
	helper = cache --timeout=1200

[alias]
  st = status
  adda = add .
  pullr = pull --rebase
  diffm = difftool -t meld
  diffc = diff --color
  logc = log --color --oneline
  loga = log --oneline --graph --decorate --all --color
