[color]
  ui = true

[core]
  editor = nano
  whitespace = -trailing-space

[merge]
  tool = kdiff3
  
[diff]
#  tool = kcompare
  tool = meld

[user]
  name = Alberto Bortoni
  email = alb.bortoni@gmail.com

[credential]
	helper = cache --timeout=1200
  username = alberto-bortoni

[alias]
  aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1\t = \\2/g'
  st      = status
  co      = checkout
  adda    = add .
  pullr   = pull --rebase
  diffm   = difftool -t meld
  diffc   = diff --color
  logc    = log --color --oneline
  loga    = log --oneline --graph --decorate --all --color
  oops    = commit --amend --no-edit
  uncommit = reset --soft HEAD~1
  cleanwho = clean -n
